<div class="container my-5">
  <div class="card card-shadow mb-5 p-4">
    <h1>Que voulez-vous trooter aujourd'hui ?</h1>

    <%= render 'form', message: @message %>

    <%= link_to 'Back', messages_path %>
  </div>
</div>
