<div class="card card-shadow mb-4 p-3">
  <div class="d-flex flex-row mb-3">
    <span class="flex-grow align-self-center article-title flex-grow-1"><%= article.title %></span>
  </div>

  <div class="mb-2">
    <%= link_to "Voir l'article", article_path(article), class: "btn btn-sm btn-success" %>
  </div>
</div>
