<div class="card p-4">
  <div class="mb-3">
    <% if user_signed_in? %>
      Bonjour, <%= current_user.email %>
    <% else %>
      Bonjour, visiteur !
    <% end %>
  </div>
  <%= link_to 'New Message', new_message_path, class: "btn btn-block btn-primary" %>
  <hr/>
  <% if user_signed_in? %>
    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-block btn-outline-danger" %>
  <% else %>
    <%= link_to "Connexion", new_user_session_path, class: "btn btn-block btn-primary" %>
  <% end %>
</div>
