<div class="container my-5">

  <% if notice %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-3 mb-5 mb-lg-0">
      <%= render "action_card" %>
    </div>

    <div class="col-lg-9">
      <% @messages.each do |message| %>
        <%= render "message", message: message %>
      <% end %>
    </div>
  </div>


</div>


